* {
    box-sizing: border-box;
  }
  
  body {
    margin: 0;
    font-family: Helvetica;
    display: table-column;
  }

  header {
    background-color: red;
    width: 100%;
    height: 100px;
  }
  
  footer {
    background-color: red;
    height: 100px;
    width: 100%;
  }
  
  aside {
    background-color: maroon;
    height: 100%;
  }
  
  main {
    background-color: maroon;
  }
  aside, main {
    width: 100%;
    height: calc( (100vh - 120px) / 2);
  }

  header, footer, aside, main {
    display: flex;
    justify-content: center;
    align-items: center;
  }




  @media only screen and (min-width: 768px){ 
    aside {
      background-color: #bada55; 
      width: 30%;
      height: 100%;
    }
}